PROJECT_NAME= 
VERSION=
API_V1_PREFIX=
AI_API_KEY=
AI_MODEL=
AI_PROVIDER=
ENVIRONMENT=
DEBUG=
DATABASE_URL=
BACKEND_CORS_ORIGINS=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
LOG_LEVEL=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
FRONTEND_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=

BREVO_API_KEY=

BREVO_SENDER_EMAIL=

BREVO_SENDER_NAME=